body, ul, li {
  margin: 0;
  padding: 0;
  font-family: "Palatino Linotype", sans-serif;
}

.navbar {
  display:none;
}

.extra {
  display:none;
}

.extras {
  display:none;
}

.persons {
  display:none;
}

.wrapper {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

.wrap {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
}

#main:after {
  content: "";
  display: block;
  clear: both;
}

#main header .wrapper nav h2 {
  text-indent: -10000px;
}

#main header .wrapper nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

#main header .wrapper nav ul li {
  display: inline-block;
}

#main header .wrapper nav {
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  left:0;
  right:0;
  padding: 12px 0;
}

#main header .wrapper nav li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  transition: 0.3s;
  margin: 0 30px;
}

#main header .wrapper nav li a:hover {
  color: #555;
  transition: 0.4s;
}

#main header .wrapper i {
  float: right;
  color: black;
  margin-top: -15px;
  margin-right: 20px;
}

#mains:after {
  content: "";
  display: block;
  clear: both;
}

#mains header .wrapper nav h2 {
  text-indent: -10000px;
}

#mains header .wrapper nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
}

#mains header .wrapper nav ul li {
  display: inline-block;
}

#mains header .wrapper nav {
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  left:0;
  right:0;
  padding: 12px 0;
}

#mains header .wrapper nav li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  transition: 0.3s;
  margin: 0 30px;
}

#mains header .wrapper nav li a:hover {
  color: #555;
  transition: 0.4s;
}

#mains header .wrapper i {
  float: right;
  color: black;
  margin-top: -15px;
  margin-right: 20px;
}

.hamburger-lines {
  display: none;
  font-size: 16px;
  cursor: pointer;
}

.person {
  text-align:center;
}

.person img {
  display:block;
  margin:0 auto;
  width:25%;
}

.person p {
  display:block;
  margin:0 auto;
  width:25%;
  justify-content: center;
  font-size: 12px;
  line-height: 1.6em;
  padding-top:10px;
}

.people ul {
  list-style-type:none;
  width:100%;
}

.people ul li {
  display: block;
  margin-left:6.2%;
  float:left;
  width: 25%;
}

.people li img {
  width:100%;
  display: block;
  margin:0 auto;
}

.people:after {
  content: "";
  display: block;
  clear: both;
}

.peoplee ul {
  list-style-type:none;
  width:100%;
}

.peoplee ul li {
  display: block;
  margin-left:16.5%;
  float:left;
  width: 25%;
}

.peoplee li img {
  width:100%;
  display: block;
  margin:0 auto;
}

.peoplee:after {
  content: "";
  display: block;
  clear: both;
}

.caption {
  text-align: center;
  color: black;
  padding-top: 150px;
  padding-bottom:100px;
  height: 400px;
}

.caption h1 {
  font-size: 54px;
  font-family: "Playfair Display", serif;
  font-weight: lighter;
}

.caption p {
  display:block;
  margin:0 auto;
  font-size: 18px;
  line-height: 1.6em;
  margin-bottom: 30px;
  width:50%;
}

.caption button {
  border:none;
  outline:none;
  background:#4e87c5;
  color: white;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  font-size: 14px;
  text-decoration:none;
  padding:0 35px;
  line-height:32px;
  height: auto;
  display:inline-block;
  text-align:center;
  cursor: pointer;
  transition: 0.4s;
}

.caption button:hover {
  background: rgba(218, 112, 116, 0.76);
  transition: 0.4s;
}

.info {
  text-align: center;
  color: black;
  padding-top: 400px;
  padding-bottom:100px;
  height: 200px;
}

.info h1 {
  font-size: 36px;
  font-family: "Playfair Display", serif;
  font-weight: lighter;
}

.info p {
  display:block;
  margin:0 auto;
  font-size: 16px;
  line-height: 1.6em;
  margin-bottom: 30px;
  width:50%;
}

footer {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  padding: 50px 0; /* Adjust padding as needed */
}


footer ul {
  float: left;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 46%; /* Ensure full width */
  padding: 50px 1%;
  list-style-type: none;
  margin: 0; /* Remove default margin */
  text-align: center; /* Center text within each list item */
}

footer ul li {
  margin: 0 20px; /* Adjust margin between items as needed */
}

footer li {
  line-height: 1.8em;
  font-size: 14px;
  font-style: italic;
  color: #777;
  font-family: "Playfair Display", serif;
  font-weight: lighter;
  width:45%;
}

footer:after {
  content: "";
  display: block;
  clear: both;
}

footer li a {
  text-decoration: none;
  color: #777;
}


footer li a:hover {
  color: #555;
}

footer li h3{
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 15px;
  font-style: normal;
  color: black;
}

/* iPad view */
@media screen and (min-width: 769px) and (max-width: 890px) {
  .person img {
    display:block;
    margin:0 auto;
    width:60%;
  }

  .person p {
    display:block;
    margin:0 auto;
    width:60%;
    justify-content: center;
    font-size: 12px;
    line-height: 1.6em;
    padding-top:10px;
  }

  .people {
    display:none;
  }

  .peoplee {
    display:none;
  }

  .persons {
    display:block;
    text-align:center;
  }

  .persons img {
    display:block;
    margin:0 auto;
    width:60%;
    padding-top:80px;
  }

  .persons p {
    display:block;
    margin:0 auto;
    width:60%;
    justify-content: center;
    font-size: 12px;
    line-height: 1.6em;
    padding-top:10px;
  }

  .caption {
    text-align: center;
    color: black;
    padding-top: 150px;
    padding-bottom:200px;
    height: 400px;
  }

  .caption p {
    display:block;
    margin:0 auto;
    font-size: 18px;
    line-height: 1.6em;
    margin-bottom: 30px;
    width:80%;
  }

  .info {
    text-align: center;
    color: black;
    padding-top: 400px;
    padding-bottom:200px;
    height: 200px;
  }

  .info p {
    display:block;
    margin:0 auto;
    font-size: 16px;
    line-height: 1.6em;
    margin-bottom: 30px;
    width:80%;
  }

  footer ul {
    clear:both;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 90%;
    padding: 50px 1%;
    list-style-type: none;
    margin: 0; /* Remove default margin */
    text-align: center; /* Center text within each list item */
  }

  .extra {
    display:block;
    padding-top: 400px;
    padding-bottom:1500px;
  }

  .extras {
    display:block;
    padding-top: 200px;
    padding-bottom:300px;
  }
}

/* Mobile view */
@media screen and (max-width: 768px) {
  #mains {
    padding-bottom:1200px;
  }

  .wrapper {
    display:none;  
  }

  .hamburger-lines {
    display: block;
  }

  .container {
    max-width: 1050px;
    width: 90%;
    margin: auto;
  }

  .navbar {
    display:flex;
    padding-top:70px;
    height:47px;
    width: 100%;
    position:fixed;
    background-color:white;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
  }

  .navbar .menu-items {
    display: flex;
  }

  .navbar .nav-container li {
    list-style: none;
  }

  .navbar .nav-container a {
    text-decoration: none;
    color: #black;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 0.7rem;
  }

  .navbar .nav-container a:hover{
      color: #6b6b6b;
      transition: 0.4s;
  }

  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }

  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .nav-container .hamburger-lines {
    display: block;
    height: 19px;
    width: 24.3px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .nav-container .hamburger-lines .line {
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }

  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }

  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }

  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 120px;
    background-color:white;
    height: 100vh;
    width: 100%;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
  }

  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 400;
  }

  .logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
  }

  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }

  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }

  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }

  .person img {
    display:block;
    margin:0 auto;
    width:60%;
  }

  .person p {
    display:block;
    margin:0 auto;
    width:60%;
    justify-content: center;
    font-size: 12px;
    line-height: 1.6em;
    padding-top:10px;
  }

  .people {
    display:none;
  }

  .peoplee {
    display:none;
  }

  .persons {
    display:block;
    text-align:center;
  }

  .persons img {
    display:block;
    margin:0 auto;
    width:60%;
    padding-top:80px;
  }

  .persons p {
    display:block;
    margin:0 auto;
    width:60%;
    justify-content: center;
    font-size: 12px;
    line-height: 1.6em;
    padding-top:10px;
  }

  .caption {
    text-align: center;
    color: black;
    padding-top: 150px;
    padding-bottom:200px;
    height: 400px;
  }

  .caption p {
    display:block;
    margin:0 auto;
    font-size: 18px;
    line-height: 1.6em;
    margin-bottom: 30px;
    width:80%;
  }

  .info {
    text-align: center;
    color: black;
    padding-top: 400px;
    padding-bottom:200px;
    height: 200px;
  }

  .info p {
    display:block;
    margin:0 auto;
    font-size: 16px;
    line-height: 1.6em;
    margin-bottom: 30px;
    width:80%;
  }

  footer ul {
    clear:both;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 90%;
    padding: 50px 1%;
    list-style-type: none;
    margin: 0; /* Remove default margin */
    text-align: center; /* Center text within each list item */
  }

  .extra {
    display:block;
    padding-top: 400px;
    padding-bottom:200px;
  }

  .extras {
    display:block;
    padding-top: 100px;
    padding-bottom:50px;
  }

}

#main {
  background: url(background.jpeg) no-repeat center center;
  /* background-color: #FFBCA6; */
  background-size: cover;
  margin-top: -70px;
}

#mains {
  background: url(background.jpeg) no-repeat center center;
  /* background-color: #FFBCA6; */
  background-size: cover;
  margin-top: -70px;
}

#imgs ul {
  list-style-type: none;
  width: 100%;
}

#imgs ul li {
  float: left;
  width: 25%;
}

#imgs li img {
  width: 100%;
}

#imgs:after {
  content: "";
  display: block;
  clear: both;
}

#copyright {
  background: black;
  color: #c7c7c7;
  margin-bottom:-20px;
  line-height: 60px;
  text-align: center;
  font-size: 12px;
  font-style: italic;
  font-family: "Playfair Display", serif;
  font-weight: lighter;
}
